<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/style.css">
        <link rel="icon" href="/images/SendMe_logo.png" type="image/png">
        <title>SendMe | Send message</title>
    </head>
    <body class="lead">
        <% if (logIN) { %>
         <%- include('./master/navbar.ejs') %>
        <% } %>
        <div class="container position-relative" style="top:30px">
            <div class="row justify-content-center align-items-center text-center p-3">
                <form class="card p-1 bg-light shadow" action="/send" method="post">
                    <div class="card-header border-bottom-0 bg-dark text-light header-msg">
                        <h4>Send them anonymous message!</h4>
                    </div>
                    <div class="card-body text-left">
                            <label for="to" class="lead">To :</label>
                            <input type="text" name="to" placeholder="receiver's username" class="form-control mb-2" aria-label="Default" aria-describedby="inputGroup-sizing-default" value="<%=toValue %>" required>
                            <label for="message" class="lead">Message :</label>
                            <textarea name="message" maxlength="300" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" placeholder="Text Message" required></textarea>
                    </div>
                    <div class="card-footer justify-content-center ">
                        <input type="submit" value="Send" class="btn btn-success text-light">
                    </div>
                </form>
            </div>
        </div>
    </body>
    <%- include('./master/scripts') %>
</html>