body {
  background:rgb(240, 240, 240);
}
*{
  font-family: 'Roboto', sans-serif;
}
.navHomePAge{
  padding: 50px;
  padding-top:25px;
}
/* input design */
.InputTitle{
  width:90px;
}
input{
  outline:0px;
}
input:active{
  outline:0px;
}
textarea{
  resize: none;
}
/* Button like link in navbar */
.link{
  background: transparent;
  border: none;
  padding: 0px;
  cursor: pointer;
}