body {
  background:rgb(240, 240, 240);
}
*{
  font-family: cursive;
  transition: all 1s;
}
.navHomePAge{
  padding: 50px;
  padding-top:25px;
}
/* input design */
.InputTitle{
  width:90px;
}
input{
  outline:0px;
}
input:active{
  outline:0px;
}
textarea{
  resize: none;
}
/* Button like link in navbar */
.link{
  background: transparent;
  border: none;
  padding: 0px;
  cursor: pointer;
}

/* header tag design */
header{
  border-radius:8px;
  width:max-content;
  position:absolute;
  top:5px;
  left:5px;
  overflow: hidden;
  height:50px;
  width:50px;
  margin-bottom: 5px;
  z-index:55000;
}
.lead{
  position: relative;
}
.head{
  gap:15px;
}
img{
  width: 50px;
  position: relative;
  top: -8px;
  left: -16px;
}
ul{
  list-style: none;
  text-align:left;
  padding-left: 0px;
}
a{
  text-decoration: none;
  text-decoration: none;
}
/* messages list */
.header-msg{
  background:linear-gradient(90deg, rgba(24,10,18,1) 0%, rgba(73,39,59,0.9996790952709209) 51%, rgba(56,50,54,1) 75%, rgba(60,37,50,1) 100%);
  font-family: cursive;
  font-size: 20px;
  text-align: center;
}
  /* message style */
.message{
  display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-top: 1px solid gray;
}