<nav class="navbar navbar-expan-lg navbar-secondary">
    <header class="bg-light p-2 px-3">
        <div class="d-flex column space_between head">
            <img src="/images/SendME_logo.png" onclick="spread()" alt="SendMe logo" class="rounded-circle">
            <h4 class="text-dark" style="margin-top: 8px;">SendMe</h4>
        </div>
        <hr>
        <div>
            <ul>
                <li>
                    <a href="/" class="nav-link text-dark">Home</a>
                </li>
                <li>
                    <a href="/send" class="nav-link text-dark">Send message</a>
                </li>
                <li>
                    <form class="form-inline my-2 " action="/" method="post">
                        <input class="nav-link link" type="submit" value="LogOut">
                    </form>
                </li>
            </ul>
        </div>
    </header>
</nav>